.work_twenty span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    line-height: 40px;
  }
  
  .work_twenty h4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  
  .work_twenty p {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 112px;
  }