html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #FFFFFF;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  
  .wrapper {
    margin-top: 64px;
    margin-left: 64px;
    margin-right: 184px;
    margin-bottom: 268px;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 304px 304px 304px 304px;
    grid-template-rows: 304px;
  }
  
  .theme_switch {
    width: 24px;
    height: 24px;
  }
  
  .AvatarIco {
    width: 280px;
    height: 280px;
  }

  .id_info {
    width: 584px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .spacer {
    grid-column: 1/-1;
  }
  .work_list {
    width: 584px;
    color: rgba(0, 0, 0, 0.3);
  }
  
  .work_mappen span {
    font-size: 24px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .work_mappen h4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  
  .work_mappen p {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 112px;
  }
  
  .work_another p {
    font-size: 18px;
    line-height: 40px;
  }